body {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 8px rgb(3, 37, 87);
    padding: 20px;
    font-size: 32px;
    color: rgb(62, 213, 32);
}

section {
    background: rgb(30, 1, 32);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color:black;
}

.chamada-texto {
    margin-right: 5%;
}  

font-size:  40px;
}

p{

